/*<link rel="stylesheet" href="stlye.css" type="text/css">*/

.monolog {
    background: #eddf42;
    background: radial-gradient(circle, rgba(237, 223, 66, 1) 36%, rgba(217, 147, 17, 1) 100%);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20%;
    font-size: larger;
}

.backgroundjegy {
    background-image: url(Rólunk\ dekstop\ kész.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
}

@media (max-width:800px) {
    .backgroundjegy {
    background-image: url(MISSING\ másolata\ -\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    }
}


/*Rólunk*/
.background {
    background-image: url("Rólunk\ dekstop\ kész.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
}

@media (max-width: 800px) {
    .background {
        background-image: url("MISSING\ másolata\ -\ 9.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
    }
}

/*kezdőoldal*/
.mainpagebackground {
    background-image: url("Remidner\ Google\ Classroom\ Announcement\ Colorful\ Lined\ Grid\ Style.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
}

@media (max-width: 768px) {
    .mainpagebackground {
        background-image: url("Főképernyő\ teló.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
    }
}

/*menü*/
.menu {
    display: flex;
    justify-content: center;
    gap: 2%;
    /*margin-left: 38%;*/
    font-size: larger;
    margin-top: 3.5%;
}

.menu a {
    background-color: #dab204;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.93% 1.04%;
    border-radius: 17%;
    font-weight: bold;
    transition: 0.3s ease;
}

/*vissza gomb*/

.back {
    margin-top: 3.5%;
    margin-left: 2%;
}

@media (max-width: 768px) {
    .back a {
        margin-left: 10%;
    }
}

.back a {
    background-color: #da6b048e;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.93% 1.04%;
    border-radius: 17%;
    font-weight: bold;
    transition: 0.3s ease;
    position: fixed;
}